{% extends "base.html" %}
{% load url from future %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="subcontainer-full">
    <h1>Login</h1>
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
      {% csrf_token %}
      <table>
        <tr>
          <td>{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
        </tr>
        <tr>
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        </tr>
      </table>

      <input type="submit" value="Login" />
      <input type="hidden" name="next" value="/" />
    </form>

    <p>or <a href="/accounts/register">register</a></p>
</div>
{% endblock %}
