{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
<div class="subcontainer-full">
<h1>Create an account</h1>
    <form action="{% url register %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Create">
    </form>
</div>
{% endblock %}
