{% extends "base.html" %}

{% block content %}
<div class="subcontainer-full">
  <h1>About</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer cursus laoreet elit et condimentum. Maecenas a metus imperdiet quam vulputate semper id non nisl. Sed quis nunc sem. Vivamus ipsum sapien, molestie vel tempus in, commodo eget neque. Cras a tortor est, sit amet dignissim mauris. In gravida vulputate arcu, sit amet laoreet lacus volutpat eget. Pellentesque neque quam, tristique sed eleifend at, commodo eleifend quam.</p>
  <p>In dapibus vehicula sagittis. Donec felis quam, posuere at pretium et, vehicula eget magna. Proin quis ante sit amet tellus tristique porta at vitae turpis. Mauris eleifend lacinia neque ut consectetur. Nulla nulla nunc, varius vel venenatis at, consectetur ut est. Suspendisse pharetra sapien risus. Maecenas quis tortor vel turpis placerat placerat ut vitae sem. In hac habitasse platea dictumst.</p>
</div>
{% endblock %}
