<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Influential Tweeple</title>
  <link rel="stylesheet" href="/static/css/application.css" type="text/css" media="screen" charset="utf-8">
  <script type="text/javascript" src="/static/js/jquery-1.7.min.js"></script>
  <link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>
    <div id="header-container">
      <h1><a href="{% url home %}">Influential Tweeple</a></h1>
      <ul>
        <li><a href="{% url home %}">Home</a></li>
        <li><a href="{% url about %}">About</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url profile %}">Profile</a></li>
        <li><a href="{% url stats %}">Stats</a></li>
        <li><a href="{% url update %}">Update</a></li>
        <li><a href="{% url logout %}">Logout</a></li>
        {% else %}
        <li><a href="{% url login %}">Login</a></li>
        <li><a href="{% url register %}">Register</a></li>
        {% endif %}
      </ul>
    </div>
    <div id="content-container">
      {% block content %}
      {% endblock %}
    </div>
    <div class="spacer"></div>
</body>
</html>
