{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
{% if user.get_profile.twitter_screen_name %}
<div class="subcontainer-full">
  <h1>Home</h1>
  <p>
    You are connected with Twitter account <strong>@{{ user.get_profile.twitter_screen_name }}</strong>. <a href="{% url twitter_logout %}">Disconnect Twitter</a>
  </p>
</div>

<div class="subcontainers-left">
    <div class="subcontainer suggested">
      <h2>Suggested Tweeple</h2>
      {% for u in suggested_tweeple %}
      <div class="tweet">
        <div class="tweet-img">
            <img src="{{ u.profile_image_url}}" />
        </div>
        <div class="suggested-main">
            <div class="tweet-author">{{ u.screen_name }}</div>
            <div class="tweet-fullname">{{ u.name }}</div>
            <div class="suggested-actions"><a href="/twitter/follow?id={{ u.id_str }}">Follow</a> | <a href="/twitter/reject?id={{ u.id_str }}">Reject</a></div>
        </div>
        <div class="clearfix"></div>
      </div>
      {% endfor %}
    </div>
    <div class="subcontainer">
      <h2 style="color: #999;">Important Tweeple</h2>
      {% for u in important_tweeple %}
      <div class="tweet">
        <div class="tweet-img">
            <img src="{{ u.profile_image_url}}" />
        </div>
        <div class="suggested-main">
            <div class="tweet-author">{{ u.screen_name }}</div>
            <div class="tweet-fullname">{{ u.name }}</div>
            <div class="suggested-actions" style="font-size:12px">Not important</div>
        </div>
        <div class="clearfix"></div>
      </div>
      {% endfor %}
    </div>
</div>
<script>
$(document).ready(function() {
$('#loading').hide();
$('.showoriginal').show();
$('.showoriginal').live('click',function() {

  $('#importantTimeline').hide();
  $('#originalTimeline').show();

})
$('.showimportant').live('click',function() {

  $('#importantTimeline').show();
  $('#originalTimeline').hide();

})
});
</script>
<div class="subcontainers-right">
    <div class="subcontainer timeline important" id="importantTimeline">
      <h2><span>Important Timeline</span><span class="showoriginal" style="color: #999; margin-left: 10px;">Original Timeline</span><img src="/static/loading.gif" style="float: right;height: 39px;" id="loading"></h2>
      {% for t in important_timeline %}
      <div class="tweet">
        <div class="tweet-img">
          <img src="{{ t.user.profile_image_url }}" />
        </div>
        <div class="tweet-main">
          {{ t.score }}
          <div class="tweet-author">{{ t.user.screen_name }}</div>
          <div class="tweet-content">{{ t.text }}</div>
          <div class="tweet-date">{{ t.date }}</div>
        </div>
        <div class="clearfix"></div>
      </div>
      {% endfor %}
    </div>
    <div class="subcontainer timeline important" id="originalTimeline">
        <h2><span class="showimportant" style="color: #999;">Important Timeline</span><span style="margin-left: 10px;">Original Timeline</span></h2>
        {% for t in original_timeline %}
        <div class="tweet">
          <div class="tweet-img">
              <img src="{{ t.user.profile_image_url }}" />
          </div>
          <div class="tweet-main">
              <div class="tweet-author">{{ t.user.screen_name }}</div>
              <div class="tweet-content">{{ t.text }}</div>
              <div class="tweet-date">{{ t.date }}</div>
          </div>
          <div class="clearfix"></div>
        </div>
        {% endfor %}
    </div>
</div>

{% else %}
<div class="subcontainer-full">
  <h1>Welcome</h1>
  <p>
    Your account is not connected to Twitter.
    <a href="{% url twitter_login %}">Connect now</a>
  </p>
</div>
{% endif %}

{% else %}
<div class="subcontainer-full">
  <h1>Welcome</h1>
  <p>Create an account or <a href="{% url login %}">login</a>.</p>
</div>
{% endif %}

{% endblock %}
