{% extends "base.html" %}

{% block content %}
<div class="subcontainer-full">

  <h1>Welcome {{ twitter.name }}</h1>
  <p>You are connected with Twitter account:  </p>
      <div class="tweet">
        <div class="tweet-img">
            <img src="{{ twitter.profile_image_url }}" alt="{{ twitter.screen_name }}'s avatar"/>
        </div>
        <div class="tweet-main">
            <div class="tweet-author">{{ user.get_profile.twitter_screen_name }} ({{ user.get_profile.twitter_id_str }})</div>
            <div class="tweet-content">{{ twitter.status.text }}</div>
            <div class="suggested-actions"><a href="{% url twitter_logout %}">Disconnect Twitter</a>
            </div>
        </div>
        <div class="clearfix"></div>
      </div>
</div>
{% endblock %}
