{% extends "base.html" %}

{% block content %}
<div class="subcontainer-full">
    <table class="stats">
      <tr>
        <td>
          <h3>Your Tweets</h3>
          <p>{{stats.tweets_self}}</p>
        </td>
        <td>
          <h3>Your Timeline</h3>
          <p>{{stats.tweets_timeline}}</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <h3>Your Friends</h3>
          <p>{{stats.friends}}</p>
        </td>
        <td>
          <h3>Your Followers</h3>
          <p>{{stats.followers}}</p>
        </td>
        <td>
          <h3>Mutual</h3>
          <p>{{stats.mutuals}}</p>
        </td>
      </tr>
    </table>
</div>
{% endblock %}
