{% extends "base.html" %}

{% block content %}
<div class="subcontainer-full">
  {% if user.get_profile.twitter_screen_name %}
  <p>We are updating your information :)</p>
  {% endif %}
</div>
{% endblock %}
