/* Basics */
* {
  margin:0;
  padding:0;
  border:none;
  outline:none;
}
body {
  font-family: Georgia,Times,"Times New Roman",serif;
  font-size: 15px;
  line-height: 1.5em;
  background: #CBDEDE;
}
h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
h2 {
  font-size: 16px;
  margin-bottom: 7px;
}
a, a:visited, a:active {
  color: #0059B2;
}
a:hover {
  text-decoration: none;
}
a img {
  border: none;
}
input[type=submit] {
  background-color: #E6E6E6;
  background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(255, 255, 255) 25%, rgb(230, 230, 230));
  background-repeat: no-repeat;
  border-bottom-color: #BBB;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #CCC;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #CCC;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #CCC;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(255, 255, 255, 0.199219) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.046875) 0px 1px 2px 0px;
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 28px;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-y: visible;
  padding-bottom: 6px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 5px;
  text-align: center;
  text-indent: 0px;
  text-shadow: rgba(255, 255, 255, 0.746094) 0px 1px 1px;
  text-transform: none;
  vertical-align: baseline;
  width: 70px;
  word-spacing: 0px;
}
input {
  border: 1px solid black;
  background-color: white;
  border-bottom-color: #CCC;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #CCC;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #CCC;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #CCC;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.0976562) 0px 1px 3px 0px inset;
  color: gray;
  cursor: auto;
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 18px;
  line-height: 18px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  margin-left: 5px;
}
.clearfix{ display: block; height: 0; clear: both; visibility: hidden; }
ul, li {
  margin: 15px;
}
.spacer {
  float: left;
  height: 40px;
  width: 100%;
}

/* Header */
#header-container {
  position: relative;
  text-align: left;
  width: auto;
  height: 29px;
  padding: 10px 12px 5px 10px;
  border-bottom: 1px solid #717171;
  background: url('/static/nav-bg.gif');
  color: white;
  -webkit-box-shadow: #888 0px 5px 8px;
  -moz-box-shadow: #888 0px 5px 8px;
}
#header-container h1 {
  display: inline;
  font-style: italic;
}
#header-container a, #header-container a:visited, #header-container  a:active {
  color: white;
  text-decoration:none;
}
#header-container ul a:hover {
  text-decoration:underline;
}
#header-container ul {
  font-family: Helvetica;
  float: right;
  display: inline;
  margin: 0;
}
#header-container ul li {
  display: inline;
  list-style: none;
  margin: 0 0 0 3px;
}
/* Content */
#content-container {
  margin: 0 auto;
  position: relative;
  width:940px;
  overflow: none;
}
/* Content subcontainers */
.subcontainer-full {
  position: relative;
  text-align: left;
  width: 910px;
  margin: 20px 0 0 0;
  padding: 10px 10px 10px 10px;
  border-bottom: 4px solid #ADADAD;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: #888 0px 5px 8px;
  -moz-box-shadow: #888 0px 5px 8px;
}
.subcontainers-left {
  float: left;
  width: 292px;
  margin-top: 10px;
}
.subcontainers-right {
  float: right;
  width: 448px;
  margin-top: 10px;
}
.subcontainer {
  text-align: left;
  float: left;
  width: 290px;
  margin: 8px 8px 0 0;
  border-bottom: 4px solid #ADADAD;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: #888 0px 5px 8px;
  -moz-box-shadow: #888 0px 5px 8px;
}
.timeline {
  float:right;
  width: 630px;
  padding: 0;
}
.subcontainer h2 {
  font-weight: bold;
  padding: 10px 10px 0px 10px;
}

.tweet {
  border-bottom: 1px solid #D5D5D5;
  font: 15px/1.5 Helvetica Neue,Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
  padding: 10px 20px;
  color: #444;
}
.tweet:last-child {
  border-bottom: none;
}
.tweet-img {
  float: left;
  width: 58px;
  margin-top: 3px;
}
.tweet-img img {
  width: 48px;
}
.tweet-main {
  margin: 0;
  width: 530px;
  float: left;
}
.suggested-main {
  margin: 0;
  width: 190px;
  float: left;
}
.tweet-author {
  font-weight: bold;
  line-height: 15px;
}
.tweet-content {
  line-height: 1.3em;
  margin-top: 3px;
}
.tweet-date {
  font-size: 11px;
  color: #999;
}
.tweet-fullname {
  font-size: 14px;
  color: #999;
}
.suggested-actions {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
}

.suggested h2 {
  font-weight: bold;
  font-style: normal;
}
.important h2 {
  font-weight: bold;
  font-style: normal;
}
#originalTimeline {
  display:none;
}
#originalTimeline h2 {
  cursor: pointer;
}
#importantTimeline h2 {
  cursor: pointer;
}
.showoriginal {
  display: none;
}
/* Stats */
.stats {
  padding: 15px;
}
.stats td {
  padding: 15px;
  text-align: center;
}
.stats h3 {
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
}
.stats p {
  font-size: 40px;
}
